
@font-face {
  font-family: "Raleway Normal";
  src: url("./assests/fonts/Raleway-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Raleway SemiBold";
  src: url("./assests/fonts/Raleway-SemiBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Raleway Bold";
  src: url("./assests/fonts/Raleway-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Raleway Italic";
  src: url("./assests/fonts/Raleway-LightItalic.ttf") format("truetype");
}

button {
  padding: 16px 32px;
  font-family: "Raleway Normal";
  font-size: 20px;
  font-weight: 500;
}

.container-fluid{
  padding:  0 120px;
}

.grace {
  background-color: red;
}

.bg-grey {
  background: #f4f4f4;
}

.dropdown-container {
  min-width: max-content;
  background-color: #ffffff;
  border-radius: 10px;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transform: scale(0.97) translateX(-5px);
  transition: 0.1s ease-in-out;
  box-shadow: var(--shadow);
  left: 0;
  bottom: -180px;
}

.nav-dropdown-btn {
  cursor: pointer;
}

.nav-dropdown-btn[aria-expanded="true"] .dropdown-container {
  visibility: visible;
  opacity: 1;
  padding: 10px;
  gap: 15px;
  box-shadow: 0px 4px 10px 10px rgba(189, 189, 189, 0.1);
 }

img {
  width: 100%;
  max-width: 100%;
  height: auto;

}

.linkbutton:hover,
.livestream-hover:hover{
  background-color: #E66D68 !important;
}



button:hover
 {
  background-color: transparent !important;
  border: 1px solid white !important;
}

.transparent-hover:hover,
.livestream-hover2:hover{
  background-color: #da241c !important;
  border: none !important;
}

.navbar-toggler:hover{
  background-color: white;
}

nav {
  padding: 40px 0 0;
  z-index: 4;
}

.custom-container {
  max-width: 1680px;
  margin: 0 auto;
  justify-content: baseline;
}

.navigation-links .navigation-link {
  padding: 24px 28px;
  font-family: "Raleway Normal";
  color: #1b1b1b;
  font-size: 20px;
  text-decoration: none;
}

.navigation-links .navigation-link button {
  display: flex;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
}

.listen-logo {
  width: 32px;
  height: 32px;
  font-family: "Raleway Normal";
  font-size: 20px;
  text-align: center;
  margin-right: 10px;
}

.overlay {
  position: relative;
  max-width: 1680px;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
}

.expectation-presence {
  padding: 20px;
  max-width: 1440px;
  margin: 0 auto;
}

.overlay-expectation {
  position: relative;
  z-index: 3;
  background-color: #F4F4F4;
  padding: 3rem;
  width: calc(50% - 1.5rem);
  border-radius: 15px;
  overflow: hidden;
}

.overlay-expectation h2 {
  color: #1B1B1B;
  font-family: "Raleway Bold";
  font-size: 38px;
}


.expectation-container Image {
  width: 32px;
  height: 32px;
}

.banner-overlay {
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;

  &.livestream-overlay {
    background: rgba(8, 4, 22, 0.86);
  }
}

.expectation-overlay {
  background: rgba(0, 0, 0, 0.9);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.banner-overlaying,
.expectation-overlaying,
.footer-overlaying {
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  padding: 20px;
}

.banner-title {
  font-family: "Raleway Normal";
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  max-width: 800px;
  margin-bottom: 32px;
}

.banner-subtitle {
  font-family: "Raleway Normal";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}

.color-transparent {
  background-color: transparent;
}

.banner-image {
  width: 100%;
  object-fit: cover;
}

.banner-big {
  height: 100vh;
}

.banner-small {
  max-height: 460px;
}

.giving-title {
  font-family: "Raleway Normal";
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
}

.about-us-image-container {
  max-width: 1668px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 20px;
  overflow: hidden;
  width: 100%;
}

.giving-subtitle {
  font-family: "Raleway Normal";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.color-white {
  color: #fff;
}

.color-button {
  background-color: #da241c;
  color: #fff;
}

.color-button:hover {
  background-color: #e04942 !important;
  color: #fff;
}

.livestream-title {
  font-family: "Raleway Normal";
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 135%;
}

.landingpage-subtitle {
  font-family: "Raleway Normal";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 88px;
}

.banner-livestream {
  object-fit: contain;
  position: relative;
  right: 0;
}

.btn-icon {
  width: 32px;
  height: 32px;
  margin-right: 10px;
}

.gap-large {
  gap: 32px;
}

.service-timer {
  padding: 30px 120px 31px;
}

.service-timer-time {
  color: #000;
  font-family: "Raleway Normal";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}

.service-timer-num {
  color: #000;
  font-family: "Raleway Bold";
  font-size: 3rem;
  padding-right: 1rem;
}

.service-timer-title {
  font-family: "Raleway Bold";
  font-size: 28px;
  font-weight: 700;
  color: #000;
}

.card-video {
  width: 100%;
  max-width: 100%;
}

.text-container {
  display: inline-flex;
  gap: 32px;
}

.live-stream-btn Button {
  margin-right: 20px; 
  padding: 15px;
}

.media-main-container {
  padding: 160px 168px;
  gap: 141px;
}

.text-container h1 {
  font-size: 48px;
  font-family: "Raleway Bold";
  font-style: normal;
  font-weight: 700px;
  max-width: 536px;
}

.text-container p {
  color: #555;
  font-family: "Raleway Normal";
  font-size: 22px;
}

.text-container .image-text {
  max-width: 80%;
  margin: 0 auto;
}

.card-title {
  color: #555;
  font-family: "Raleway Normal";
  font-size: 20px;
}

.card-body {
  gap: 32px;
}

.card-text {
  color: #da241c;
  font-family: "Raleway Bold";
  font-size: 22px;
  font-weight: 500;
}

.linkbutton {
  height: 64px;
  padding: 24px 32px;
  gap: 10px;
  border-radius: 5px;
  background-color: #da241c;
  color: #fff;
  z-index: 99;

  img {
    width: 24px;
  }
}

.media-main-container.flex-row-reverse {
  padding: 160px 120px;
}

.media-main-container.flex-row-reverse .text-container {
  padding-left: 0;
  max-width: 577px;
  margin-right: auto;
}

.weekly-align p {
  max-width: 757px;
  margin: 24px 0 52px;
}

.stay-connected .stay-connected {
  padding-left: 0;
  padding-right: 0;
  margin: 0 auto;

  .bg-dot:nth-child(3) {
    right: 0;
    bottom: -30px;
  }

  .bg-dot:nth-child(4) {
    left: 190.76px;
    bottom: 764px;
  }

  .bg-dot:nth-child(6) {
    right: 351.38px;
    top: 206px;
  }

  .bg-dot:nth-child(1) {
    right: 1044.28px;
    top: 150px;
  }

  .bg-dot:nth-child(2) {
    left: 486.3px;
    bottom: 0;
  }

  .bg-dot:nth-child(5) {
    bottom: 304px;
    left: 0;
  }

  .bg-dot:nth-child(7) {
    top: 14.5px;
    right: 0;
  }

  .bg-dot:nth-child(3) Image {
    border-radius: 375px;
    filter: blur(50px);
    width: 370.656px;
    height: 375px;
  }

  .bg-dot:nth-child(4) Image {
    border-radius: 375px;
    filter: blur(50px);
    width: 188.788px;
    height: 191px;
    background-color: rgba(218, 36, 28, 0.8);
    opacity: 0.14;
  }

  .bg-dot:nth-child(6) Image {
    border-radius: 375px;
    filter: blur(50px);
    width: 111.691px;
    height: 113px;
    background-color: rgba(218, 36, 28, 0.8);
    opacity: 0.14;
  }

  .bg-dot:nth-child(1) Image {
    border-radius: 375px;
    filter: blur(50px);
    width: 288.618px;
    height: 292px;
    background-color: rgba(218, 36, 28, 0.8);
    opacity: 0.14;
  }

  .bg-dot:nth-child(2) Image {
    border-radius: 375px;
    filter: blur(50px);
    width: 243.151px;
    height: 246px;
    background-color: rgba(218, 36, 28, 0.8);
    opacity: 0.14;
  }

  .bg-dot:nth-child(5) Image {
    border-radius: 375px;
    filter: blur(50px);
    width: 212.51px;
    height: 215px;
    background-color: rgba(218, 36, 28, 0.8);
    opacity: 0.1;
  }

  .bg-dot:nth-child(7) Image {
    border-radius: 375px;
    filter: blur(50px);
    width: 135.413px;
    height: 137px;
    background-color: rgba(218, 36, 28, 0.8);
    opacity: 0.14;
  }

  .mediaImage {
    width: 100% !important;
    max-width: 467px !important;
    position: relative;
    z-index: 99;
  }
}

.stay-connected .media-container {
  width: 467px !important;
}

.stay-connected .text-container {
  width: 793px !important;
  font-size: 48px;
  font-family: "Raleway Normal";
}

.stay-connected .linkbutton {
  font-size: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.stay-connected Image {
  width: 24px;
}

a {
  text-decoration: none;
}

.section-footer-one {
  max-width: 1680px;
  margin: 0 auto;
  padding: 100px 70px;
}

.footer-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 100%;
  text-align: center;
}

.footer-overlay p {
  margin-bottom: 47px;
  font-size: 22px;
}

.footer-overlay h1 {
  font-size: 48px;
}

.section-footer-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.footer-logo {
  width: 80px;
}

.section-footer-two {
  background-color: #0d0100;
}

.sub-footer-logo {
  width: 42px;
}

.sub-section-footer-two {
  padding: 128px 120px;
}

.sub-section-footer-container {
  width: 100%;
  max-width: 1680px;
  margin: 0 auto;
}

.sub-section-one {
  max-width: 442px;
  gap: 24px;
}

.sub-section-two,
.sub-section-three {
  gap: 23px;
}

.sub-section-two ul li,
.sub-section-three ul li {
  margin-bottom: 20px;
  color: #aaa;
  font-size: 20px;
  min-width: max-content;
}

.sub-section-four {
  max-width: 331px;
}

.sub-footer-logo {
  gap: 10px;
}

.sub-section-one p,
.sub-section-four p {
  color: #aaa;
  margin-bottom: 10px;
  font-size: 20px;
}

.copyright {
  padding: 128px 190px;
  font-size: 16px;
  color: #aaa;
}

.horizontal-line {
  width: 100%;
  max-width: 1680px;
  height: 0.5px;
  background: #333;
  margin: 0 auto;
}

footer {
  font-family: "Raleway Normal";
}

.about-us-header {
  color: #1b1b1b;
  font-family: "Raleway SemiBold";
  font-size: 64px;
  font-style: normal;
  width: 967px;
  text-align: center;
  margin: 0 auto 30px;
}

.sub-about-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  max-width: 1499px;
  margin: 0 auto;
  padding: 0 20px;
}

.sub-about-us h4 {
  font-size: 48px;
  font-family: "Raleway SemiBold";
}

.sub-about-us p {
  color: #555;
  font-family: "Raleway Normal";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.god-glory-container {
  display: flex;
  padding: 160px 120.918px 160px 120px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  max-width: 1499px;
  margin: 0 auto;
  padding: 110px 20px;

  .god-glory-text-wrapper {
    max-width: 653px;

    p {
      font-family: "Raleway Normal";
      font-size: 22px;
      margin-bottom: 56px;
      margin-top: 24px;
    }
  }
}

.god-glory-Image-container {
  width: 50%;
  display: flex;
  gap: 32px;

  Image:first-child {
    position: relative;
    top: 0;
    max-width: 397.5px;
  }

  Image:last-child {
    position: relative;
    top: -55px;
    max-width: 397.5px;
  }
}

.service-icon {
  width: 39px;
  height: 39px;
  flex-shrink: 0;
}

.side-image {
  width: 915px;
  flex-shrink: 0;
}

.bg-weekly {
  background: rgba(8, 4, 22, 0.9);
}

.color-text p {
  color: rgba(255, 255, 255, 0.5);
  font-family: "Raleway Normal";
  font-size: 24px;
}

.weekly-title-container {
  margin-bottom: 130px;
}

.weekly-title-container h1 {
  font-size: 48px;
  font-family: "Raleway Bold";
}

.weekly-title-container p {
  font-size: 22px;
  font-family: "Raleway Normal";
  font-style: normal;
}

.main-about-us {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background: #f4f4f4;
}

.main-about-us p {
  font-size: 22px;
  font-family: "Raleway Normal";
}

.contact-Image {
  width: 56px;
}

.contact-container {
  width: 1920px;
  padding: 165px 120px;
  flex-shrink: 0;
}

.sub-contact-container-details div {
  width: 390px;
  padding: 40px 40px 89px 32px;
  height: 369px;
}

.give-Image {
  width: 772px;
}

.give-container {
  max-width: 1336px;
  padding: 40px;
  flex-shrink: 0;
  gap: 15px;
  margin: 0 auto;
}

.sub-give-container {
  width: 860px;
  background-color: rgb(0,146,62, 0.1);
}

.sub-expectation-container p {
  color: #dbdbdb;
  font-family: "Raleway Normal";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  padding-left: 20px;
}

.sub-give-container h5 {
  padding: 20px 72px;
  color: #00923E;
  font-family: "Raleway SemiBold";
  font-size: 36px;
  font-style: normal;
  font-weight: 900;
}

.sub-give-container-info {
  padding: 10px 52px;
}

.sub-give-container-info h6 {
  color:  #00923E;
  font-family: "Raleway SemiBold";
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 135%;
}

.sub-give-container-info p {
  color: #00923E;
  font-family: "Raleway Normal";
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 135%;
}

.give-line {
  display: flex;
  width: 860px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  border-bottom: 1px solid rgba(189, 189, 189, 0.8);
}

.giving-reason {
  display: flex;
  padding: 2rem 7.5rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background: #f3f3f3;
  height: 100%;
}

.giving-reason p {
  color: rgba(27, 27, 27, 0.8);
  font-family: "Raleway normal";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
  /* 43.2px */
}

input {
  border: none;
}

.form-details img {
  width: 1.2rem;
}

.form-details {
  border-bottom: 1px solid rgba(27, 27, 27, 0.6);
  padding-bottom: 15px;
  max-width: 335px;
  width: 46%;
}

.form-container-Image {
  padding: 48px;
  background: #fef6f6;
  width: 45%;
}

.form-details-message {
  border-bottom: 1px solid rgba(27, 27, 27, 0.6);
  padding-bottom: 40px;
}

.btn {
  background-color: #da241c;
  color: #fff;
  padding: 30px 32px;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;

  &:hover {
    border-radius: 5px;
    background: #b61f19;
    color: #fff;
  }
}

.main-form-container {
  background: #f4f4f4;
  padding: 160px 0;
}

.form-container {
  display: flex;
  max-width: 70rem;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.form-details-container {
  flex-shrink: 0;
  background: #fff;
  padding: 48px;
  width: 55%;
}

.form-details-container form h2 {
  color: #1b1b1b;
  font-family: "Raleway SemiBold";
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
}

.input-container {
  padding: 45px 15px;
}

::placeholder {
  font-size: 22px;
  font-family: "Raleway Normal";
}

input.input-field {
  width: calc(100% - 32px);
}

.weekly-service-container {
  max-width: 609px;
}

.ministries-section {
  .weekly-container {
    max-width: 1680px;
    margin: 0 auto;
    padding: 30px;
  }

  .service-info-text {
    font-family: "Raleway Normal";
    font-size: 22px;
  }

  .side-image-wrapper,
  .weekly-service-container {
    width: 50%;
  }

  .weekly-services-wrapper {
    justify-content: initial;
    gap: 266px;
    max-width: auto;
  }

  .weekly-service-container {
    max-width: none;
  }

  .service-information p {
    font-size: 22px;
    font-family: "Raleway Normal";
  }
}

.sub-expectation-container h5 {
  font-size: 24px;
  font-family: "Raleway Normal";
  color: #fff;
  margin-bottom: 8px;
}

.contact-info {
  color: #1b1b1b;
  font-family: "Raleway Normal";
  font-size: 22px;
  font-weight: 600;
  max-width: 280px;
  word-wrap: break-word;
}

.contact-title {
  color: #1b1b1b;
  font-family: "Ralewa Normal" y;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  margin-top: 40px;
  line-height: 150%;
  /* 30px */
}

.livestream-Image {
  width: 428px;
  border-radius: 16px;
}

.livestream-container {
  max-width: 454px;
  margin: 0 auto;
  gap: 48px;
  padding: 150px 15px;
}

.journey-together-section {
  p {
    margin-bottom: 31px;
  }

  h1 {
    max-width: 413px;
  }
}

.path-container {
  width: 100%;
  height: 100%;
}

.path-bg {
  left: -80px;
  top: 0px;
  max-width: 750px;
  height: 1002.383px;
  z-index: 3;
  transform: rotate(45deg);
}

.path-bg1 {
  top: 0px;
  right: 30px;
  max-width: 750px;
  height: 1002.383px;
  z-index: 3;
}

.god-glory-text-wrapper h4 {
  color: #1b1b1b;
  font-family: "Raleway Bold";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
}

.new-section{
  padding: 4rem 3rem;
}

.new-section-p{
  max-width: 38rem;
  padding-bottom: 2rem;
}

.image-text-container {
  max-width: 1499px;
  margin: 0 auto;
}

.first-god-glory-img-container{
  top:35px
}

.second-god-glory-img-container{
  bottom: 33px;
}

.specific-padding{
  padding: 10rem;
}

  .mission-container{
    margin-top: 9rem;
  }

  .sub-mission-container{
    max-width: 57rem;
    margin: 0 auto;
  }

  .defined-border{
    border: 1px solid #D3D3D3;
    padding: 56px 40px 56px 40px;
  }

  .defined-num{
    font-size: 1.8rem;
  }

  .defined-title{
    font-size: 1.4rem;
    text-align: left;
  }


  .defined-p{
    font-size: 1rem;
    text-align: center;
    margin: 0;
  }

  .rccg-container{
    background-color: rgb(0,163,255, 0.1);
  }

  .belief-container{
    background-color: rgb(0,163,255, 0.1);
    margin-top: 2rem;
  }
   
  .ministry-img{
    width: 15%;
  }

  .ministry-border{
    border: 3px solid #fff;
    box-shadow: 0px 2px 14px 6px rgba(189, 189, 189, 0.1);
    padding: 3rem;
  }

  .icon-sizing{
    width: 5%;
  }
  .sub-expectation-container h5{
    color: #1B1B1B;
  }

  .sub-expectation-container p{
    color:  #666666;
  }

  .pastors-container h2{
    font-size: 3rem;
  }

  .pastors-container{
    background-color: #F4F4F4;
    padding: 2rem;
  }

  .pastors-container p{
    font-size: 1.25rem;
  }


  .giving-banner{
    text-align: center;
  }

  .family-container h3{
      font-size: 3rem;
      text-align: center;
  }

  .family-container p{
    text-align: center;
    max-width: 38rem;
}

.family-btn{
  margin: 0 auto;
}

.policy-container{
  margin: 0 auto;
  max-width: 55rem;
}

.sub-policy-container p{
  color: #DA241C;
  font-size: 1rem;
}

.sub-policy-container h2{
  font-size: 2.5rem;
}

.image-text-container .text-container {
  border-radius: 20px;
}


 
@media only screen and (max-width: 1024px) {
  .container-fluid{
    padding: 0;
  }

  .give-container{
    flex-direction: column;
  }

  .sub-give-container,
  .give-line,
  .give-Image {
    width: auto;
  }


  .sub-section-footer-two {
    padding: 92px 50px;
  }

  .side-image-wrapper {
    width: 50%;
  }

  .sub-section-one {
    max-width: 250px;
  }

  .sub-section-four {
    max-width: 250px;
  }

  .sub-section-four p {
    word-wrap: break-word;
    margin-top: 31px;
  }

  .sub-section-footer-container {
    gap: 10px;
  }

  .text-container h1 {
    margin-top: 18px;
  }

  .stay-connected .text-container {
    padding-left: 69px;
    padding-right: 69px;
  }

  .media-main-container {
    padding: 36px 20px;
  }

  .text-container {
    width: 100% !important;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
    margin-bottom: 21px;
  }

  .media-container {
    width: 100% !important;
    margin-bottom: 10px;
  }

  .stay-connected .stay-connected {
    padding-left: 15px;
  }

  .sub-expectation-container p {
    font-size: 20px;
  }

  .sub-expectation-container h5 {
    font-size: 25px;
    margin-bottom: 10px;
  }

  .overlay-expectation h2 {
    font-size: 30px;
  }

  .expectation-presence {
    padding: 45px 30px;
  }

  .service-icon {
    min-width: 39px;
  }

  .overlay {
    padding: 0 18px;
  }

  .banner-small {
    min-height: 300px;
  }

  .about-us-header {
    text-align: left;
    font-size: 60px;
    width: auto;
  }

  .about-us-image-container {
    width: 100%;
  }

  .about-us {
    width: auto;
    padding: 10px;
  }

  .god-glory-container {
    flex-direction: column;
    width: auto;
    padding: 0;
  }

  .sub-god-glory-container {
    width: auto !important;
  }

  .god-glory-Image-container {
    width: auto;
    padding: 10px;
    margin-top: 66px;
  }

  .god-glory-text-wrapper h4 {
    font-size: 38px;
  }

  .main-about-us {
    width: auto;
    padding: 10px 20px;
  }

  .giving-reason {
    width: auto;
    padding: 80px 20px;
  }

  .giving-reason p {
    font-size: 25px;
  }

  .contact-container {
    width: auto;
    padding: 50px 25px;

    .sub-contact-container-details div {
      width: auto;

      .contact-info {
        font-size: 14px;
      }
    }
  }
}

/* // `sm` applies to x-small devices (portrait phones, less than 576px) */
@media only screen and (max-width: 768px) {
  .color-transparent {
    background-color: #000;
  }
  .footer-overlay p {
    margin-bottom: 17px;
    font-size: 14px;
    padding: 10px;
  }

  .footer-overlay h1 {
    font-size: 18px;
  }

  .footer-overlay {
    position: none;
  }

  .footer-overlay h1 {
    font-size: 38px;
}

  .section-footer-one {
    padding: 20px;
  }

  .sub-section-one {
    max-width: none;
    text-align: center;
  }

  .sub-section-footer-two {
    padding: 20px 16px;
  }

  .sub-section-footer-container {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }

  .footer-logo {
    margin: 0 auto;
  }

  .sub-section-four {
    max-width: none;
  }

  .sub-footer-logo {
    width: 70px;
    margin: 0 auto;
  }

  button {
    padding: 11px 12px;
    border-radius: 5px;
    font-size: 12px;
  }

  .copyright {
    padding: 16px 20px;
  }

  .stay-connected .media-container {
    width: 300px !important;
  }

  .stay-connected .text-container {
    width: 100% !important;
    padding: 20px;
    padding-right: 20px;
    text-align: center;
  }

  .stay-connected .stay-connected {
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
  }

  .service-timer {
    padding: 25px 11px;
  }

  .text-container h1 {
    font-size: 28px;
    margin-top: 18px;
  }

  .weekly-container Image {
    aspect-ratio: 1/1;
    object-fit: cover;
  }

  .weekly-container {
    padding: 0;
  }

  .media-main-container {
    padding: 36px 20px;
    gap: 0;
  }

  .text-container {
    width: 100% !important;
    padding: 20px;
    text-align: center;
    margin-bottom: 21px;
  }

  .media-container {
    width: 100% !important;
    margin-bottom: 20px;
  }

  .gap-large {
    gap: 15px;
  }

  .custom-container {
    flex-direction: column;
  }

  .banner-title,
  .livestream-title{
    font-size: 46px;
  }

  .landingpage-subtitle {
    font-size: 15px;
  }

  .overlay {
    padding: 0 17px;
  }

  .ministries-section .side-image-wrapper,
  .ministries-section .weekly-service-container {
    width: 100%;
  }

  .ministries-section .weekly-services-wrapper {
    gap: 70px;
  }

  .sub-expectation-container p {
    font-size: 15px;
  }

  .sub-expectation-container h5 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .overlay-expectation h2 {
    font-size: 25px;
  }

  .expectation-presence {
    padding: 45px 30px;
  }

  .about-us-header {
    text-align: left;
    font-size: 45px;
    width: auto;
  }

  .about-us-image-container {
    width: 100%;
  }

  .about-us {
    width: auto;
    padding: 10px;
    height: auto;
  }

  .god-glory-container {
    flex-direction: column;
    width: auto;
    padding: 0;
  }

  .sub-god-glory-container {
    width: auto !important;
  }

  .god-glory-Image-container {
    width: auto;
    padding: 10px;
    margin-top: 66px;
  }

  .god-glory-text-wrapper h4 {
    font-size: 38px;
  }

  .side-image-wrapper {
    width: auto;
  }

  .sub-weekly-service-container {
    justify-content: center;
  }

  .color-text .weekly-container {
    padding: 20px;
  }

  .sub-give-container,
  .give-line {
    width: 100%;
  }

  .give-container {
    flex-direction: column;
    padding: 20px;
  }

  .give-Image {
    width: 100%;
  }

  .sub-contact-container-details div {
    padding: 15px 15px 15px 15px;
    height: 300px;
  }

  .form-container-Image {
    width: 100%;
  }

  .form-details-container {
    width: 100%;
  }

  .god-glory-img-container {
    width: 100% !important;
    flex-direction: column;
    row-gap: 20px;
    margin-top: 20px;
  }

  .first-god-glory-img-container {
    top: 0;
  }

  .second-god-glory-img-container {
    bottom: 0;
  }

  .section-footer-img {
    aspect-ratio: 3/2;
  }

  .overlay-expectation {
    width: 100%;
  }

  .nav-dropdown-btn[aria-expanded=true] .dropdown-container {
    min-width: auto;
    box-shadow: none;
    position: relative !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    text-align: center;
    text-align: center;
    left: 0;
    bottom: 0;
  }

  .nav-dropdown-btn {
    display: block !important;
  }

  .navigation-links .navigation-link {
    text-align: center;
  }
}

@media only screen and (max-width: 499px) {
  .giving-reason p {
    font-size: 18px;
  }

  .section-footer-Image {
    aspect-ratio: 1/1;
    object-fit: cover;
  }

  .banner-overlaying {
    padding: 10px 20px;
    text-align: center;
  }

  .banner-title {
    font-size: 22px;
  }

  .landingpage-subtitle {
    font-size: 15px;
  }

  .expectation-presence {
    padding: 15px 8px;
  }

  .expectation-overlaying {
    text-align: center;
  }

  .sub-expectation-container p {
    padding: 0;
  }

  .god-glory-container {
    padding: 15px;
  }

  .god-glory-text-wrapper h4 {
    font-size: 30px;
  }

  .footer-overlay h1 {
    font-size: 18px;
}

  .text-container p {
    font-size: 17px;
  }

  .about-us-header {
    font-size: 30px;
  }

  .main-about-us p {
    font-size: 15px;
  }

  .give-container {
    padding: 13px;
  }

  .giving-subtitle {
    font-size: 15px;
  }

  .sub-give-container-info p {
    font-size: 18px;
  }

  .sub-give-container-info h6 {
    font-size: 25px;
  }

  .sub-give-container h5 {
    padding: 52px;
  }

  ::placeholder{
    font-size: 10px;
  }
}
