

/* MY OWN STYLING */

.navigation-links .navigation-link {
  padding: 24px 28px;
  font-family: "Raleway Normal";
  color: #1b1b1b;
  font-size: 20px;
  text-decoration: none;
}

.navigation-links .navigation-link button {
  display: flex;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
}